In [3]:
import numpy as np
import pandas as pd

#Reading the dataset
data = pd.read_csv('datasets/auto-mpg.csv', names=["mpg", "cylinders", "displacement", "horsepower", "weight","acceleration", "model year", "origin" ,"car name"])

#Checking the shape of data
data.shape

(397, 9)

In [4]:
#Checking data head
data.head()

     18  8    307  130  3504    12  70  1 chevrolet chevelle malibu
0  15.0  8  350.0  165  3693  11.5  70  1         buick skylark 320
1  18.0  8  318.0  150  3436  11.0  70  1        plymouth satellite
2  16.0  8  304.0  150  3433  12.0  70  1             amc rebel sst
3  17.0  8  302.0  140  3449  10.5  70  1               ford torino
4  15.0  8  429.0  198  4341  10.0  70  1          ford galaxie 500